<div class="row height">
  <div class="col-md-8 height canvas-container margin-top">
    <canvas id="canvas"></canvas>
  </div>
  <div class="col-md-4 margin-top">
  <div class="row">
    <div class="col-md-3 col-xs-3">
      <div class="picker">
          <div class="add-on picker-text"></div>
      </div>
    </div>
    <div class="col-md-3 col-xs-3">
      <button id="increaseLineWeight" type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-minus"></span>
          </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <input id="resetCanvas" type="button" class="btn btn-default full-width" value="Reset Canvas" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-xs-6">
      <input type="button" class="btn btn-default full-width" value="Undo" />
    </div>
    <div class="col-md-6 col-xs-6">
      <input type="button" class="btn btn-default full-width" value="Redo" />
    </div>
  </div>
  </div>
</div>